<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Feed</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <!-- Boton para actualizar la feed de noticias, ya que tardaba demasiado como para ponerlo en el onInit() -->
      <a mat-button routerLink="/update" routerLinkActive="mat-accent"
        >Update Feeds</a

      >
    </li>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Feed</a
      >
    </li>
  </ul>
</mat-toolbar>
